* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: rgb(0, 125, 129);
    padding: 20px;
}

nav {
    background-color: yellow;
    display: grid;
    place-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
    font-size: 18px;
}

nav ul a:hover {
    background-color: green;
    color: white;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px 20px;
    padding: 30px 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
}

.item img {
    width: 300px;
    height: 300px
}
footer-content{
    display: flex;
    margin: 0 auto;
    font-size: : 10px;
}
footer{
    background-color: grey;
    width: 100%;
    padding: : 70px,30px,20px;;
}
footerBottom p{
    text-align: center;
    bottom: 0;
    position: down;
}